/ {
    chosen {
        zmk,matrix_transform = &five_column_transform;
    };
};

&mt { tapping-term-ms = <150>; };

&auto_repeat {
    repeat-interval-ms = <30>;  // Repeat interval in milliseconds
    initial-delay-ms = <300>;  // Delay before repeating starts
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        auto_repeat: auto_repeat {
            compatible = "zmk,behavior-auto-repeat";
            label = "AUTO_REPEAT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alphas {
            label = "BASE";
            bindings = <
  &kp Q             &kp W       &kp E               &kp R            &mt TILDE T    &mt SQT Y    &kp U            &kp I                &kp O       &kp P
  &hm LEFT_SHIFT A  &hm LALT S  &hm LEFT_CONTROL D  &hm LEFT_GUI F   &hm UNDER G    &hm MINUS H  &hm RIGHT_GUI J  &hm RIGHT_CONTROL K  &hm RALT L  &hm RIGHT_SHIFT SQT
  &lt 3 Z           &kp X       &kp C               &kp V            &kp B          &kp N        &kp M            &kp COMMA            &kp DOT     &lt 3 FSLH
                                &kp ESC             &lt 2 BACKSPACE  &lt 1 DEL      &lt 1 SPACE  &auto_repeat     &kp RET
            >;
        };

        nav {
            label = "NAV";
            bindings = <
  &none           &none              &auto_repeat           &none                &none     &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN  &none      &none
  &kp LEFT_SHIFT  &hm LEFT_ALT LEFT  &hm LEFT_CONTROL DOWN  &hm RIGHT_GUI RIGHT  &none     &auto_repeat  &auto_repeat     &auto_repeat  &auto_repeat  &none
  &trans          &none              &trans                 &none                &none     &kp END   &none        &caps_word     &none      &none
                                     &trans                 &trans               &trans    &trans    &trans       &trans
            >;
        };

        // Additional layers omitted for brevity...
    };
};
